<h1>American Health Technology Group | Hospital Manager</h1>
<br />
<div *ngIf="(isAuthenticated | async) !== true">
  Please <a [routerLink]='["/authentication/register"]'>Register</a>
  or
  <a [routerLink]='["/authentication/login"]'>Log In</a>
  to proceed.
</div>
<div *ngIf="(isAuthenticated | async)">
  <h2>Welcome {{ userName | async }}!</h2>
  <p>Today is {{ dateTime }}</p>
  <br />
  <p>You may want to proceed to the <a [routerLink]='["view-hospitals"]'>View Hospitals</a> page.</p>
</div>
